@import "styles/ext";
@import "styles/veribals";
@import "styles/fonts";
@import "styles/Header/Navbar";
@import "styles/Header/Header";



html{
  direction: rtl;
  overflow-x: hidden;

}

//Reset
html,
body,
ul,
ol,
h1{
  margin:  0;
  padding: 0;

}

.App {
  font-family: sans-serif;
  text-align: center;
}

body{
  background: rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  font-family: $reg_font;
  //font-weight: 500;
}